<!DOCTYPE html>
<html>
{% block content %}
{% include "Shablonizatot/includes/RekvizityStels.html" %}
{% include "Shablonizatot/includes/PerehodNaGlavStr.html" %}
{% endblock %}

{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Справочник</title>
<font align="left" size="20" color="Black">
<h3><br><br>
<div style="position:absolute; left: 20px;">
Содержание:
</div>
</h3>
</font>
</head>

<style>
a:link {color:black;text-decoration:none;} /* не посещенная ссылка */
a:visited {color:black;text-decoration:none;} /* посещенная ссылка */
a:hover {color:green;text-decoration:none;} /* ссылка при наведении на нее мышкой */
a:active {color:black;text-decoration:none;} /* нажатая ссылка */
</style>

<body background= {% static "commandOnKass/1.jpg" %}>
<br>
<div style="position:absolute; left: 20px;">
<font align="left" size="5" color="yellow">
<a href={% static "commandOnKass/site/CommandConsole.html" title="Команды консоли для удаленой помощи" %} >1. Команды для удаленой помощи</a><br>
<a href={% static "commandOnKass/site/Error.html" title="Ошибки и как их исправить" %} >2. Ошибки и как их исправить</a><br>
<a href={% static "commandOnKass/site/Manual.html" title="Мануал по пакетам Артикс" %} >3. Мануал по пакетам Артикс</a><br>
<a href={% static "commandOnKass/site/Graphic.html" title="График доставки товара в филиалы" %} >4. График доставки товара в филиалы</a><br>
<a href={% static "commandOnKass/site/Kontact.html" title="Контакты торговых представителей и операторов филиалов" %}>5. Контакты торговых представителей и операторов филиалов</a><br>
<a href={% static "commandOnKass/site/INNORG.html" title="ИНН Организаций Стэлс" %}>6. ИНН Организаций Стэлс</a><br>
<a href={% static "commandOnKass/site/ModemSilki.html" title="Модемы и ссылки" %}>7. Модемы и ссылки</a><br>
<a href={% static "commandOnKass/site/File.html" title="Инструкции и прочие документы" %}>8. Инструкции и прочие документы</a><br>
</div>



</font>
</body>
</html>